<!doctype html>
<html lang="{{ request.locale.iso_code }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="format-detection" content="telephone=no">
  <meta name="theme-color" content="#fff">
  <link rel="canonical" href="{{ canonical_url }}">
  <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
  <title>
    {{ page_title }}
    {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
    {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
    {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
  </title>
  {%- if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif -%}
  <meta name="keywords" content="">
  {%- if settings.favicon != blank %}
    <link rel="shortcut icon" href="{{ settings.favicon | image_url: width: 32, height: 32 }}" type="image/x-icon">
    <link rel="icon" href="{{ settings.favicon | image_url: width: 32, height: 32 }}" type="image/x-icon">
  {% endif -%}
  {% render 'meta-tags' %}

  {% render 'theme-style' %}



  {{ content_for_header }}
</head>
<body>
<!-- BEGIN  wrapper-->
<div class="wrapper">

  {% sections 'header-group' %}

  <main class="main main__page">
	{{ content_for_layout }}
	{% section 'main_first-screen' %}
	{% section 'main_popular_goods' %}
  </main>
  {% sections 'footer-group' %}

</div>
<script>
  window.shopUrl = '{{ request.origin }}';
  window.routes = {
    cart_add_url: '{{ routes.cart_add_url }}',
    cart_change_url: '{{ routes.cart_change_url }}',
    cart_update_url: '{{ routes.cart_update_url }}',
    cart_url: '{{ routes.cart_url }}',
    predictive_search_url: '{{ routes.predictive_search_url }}'
  };
</script>
<!-- END wrapper-->


{% render 'theme-script' %}

</body>
</html>
