<div class="cart-wrapper">
  <div id="cart-drawer" class="cart-drawer">
    <div class="cart-drawer__header">
      <h2 class="cart__title">{{ section.settings.title }} ({{ cart.item_count }})</h2>
      <button type="button" class="cart-drawer__close">
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M5.28046 19.7849C4.98755 20.0778 4.51264 20.0778 4.21973 19.7849C3.92681 19.492 3.92681 19.0172 4.21973 18.7243L10.9427 12.0023L4.21969 5.28024C3.92677 4.98737 3.92677 4.51253 4.21969 4.21966C4.5126 3.92678 4.98751 3.92678 5.28042 4.21966L12.0034 10.9417L18.7265 4.21965C19.0194 3.92678 19.4943 3.92678 19.7872 4.21965C20.0801 4.51253 20.0801 4.98737 19.7872 5.28024L13.0642 12.0023L19.7872 18.7243C20.0801 19.0172 20.0801 19.492 19.7872 19.7849C19.4943 20.0778 19.0194 20.0778 18.7264 19.7849L12.0035 13.0629L5.28046 19.7849Z"
            fill="black" />
        </svg>
      </button>
    </div>

    <div class="cart-drawer__items">
      {% for item in cart.items %}
        <div class="cart-item" data-line="{{ forloop.index }}">
          <div class="cart-item__image">
            <a href="{{ item.url }}">
              <img src="{{ item.image | img_url: '200x' }}" alt="{{ item.product.title }}">
            </a>
            {% if item.product.tags contains 'New' %}
              <span class="badge">{{ section.settings.badge_text }}</span>
            {% endif %}
          </div>

          <div class="cart-item__info">
            <a href="{{ item.url }}" class="cart-item__title">{{ item.product.title }}</a>
            <p class="cart-item__price">
              {{ item.final_line_price | money }}
              {% if item.original_price > item.final_price %}
                <span class="old-price">{{ item.original_price | money }}</span>
                <span class="discount">-{{ item.discount_allocation.amount | money }}</span>
              {% endif %}
            </p>

            {% if item.variant.title != 'Default Title' %}
              <p class="cart-item__variant">
                <span>Size:</span>
                {{ item.variant.title }}</p>
            {% endif %}

            <div class="cart-item__qty">
              <button
                type="button"
                class="qty-btn minus"
                data-line="{{ forloop.index }}">-</button>
              <input
                type="number"
                value="{{ item.quantity }}"
                min="1"
                data-line="{{ forloop.index }}">
              <button
                type="button"
                class="qty-btn plus"
                data-line="{{ forloop.index }}">+</button>
            </div>
          </div>

          <button
            type="button"
            class="cart-item__remove"
            data-line="{{ forloop.index }}">
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M5.28046 19.7849C4.98755 20.0778 4.51264 20.0778 4.21973 19.7849C3.92681 19.492 3.92681 19.0172 4.21973 18.7243L10.9427 12.0023L4.21969 5.28024C3.92677 4.98737 3.92677 4.51253 4.21969 4.21966C4.5126 3.92678 4.98751 3.92678 5.28042 4.21966L12.0034 10.9417L18.7265 4.21965C19.0194 3.92678 19.4943 3.92678 19.7872 4.21965C20.0801 4.51253 20.0801 4.98737 19.7872 5.28024L13.0642 12.0023L19.7872 18.7243C20.0801 19.0172 20.0801 19.492 19.7872 19.7849C19.4943 20.0778 19.0194 20.0778 18.7264 19.7849L12.0035 13.0629L5.28046 19.7849Z"
                fill="black" />
            </svg>
          </button>
        </div>
      {% endfor %}
    </div>

    <div class="cart-drawer__footer">
      <div class="cart-subtotal">
        <span>{{ section.settings.subtotal_label }}</span>
        <span>{{ cart.total_price | money }}</span>
      </div>

      <div class="terms">
        <input
          type="checkbox"
          id="terms"
          required>
        <label class="terms__label">
          {{ section.settings.terms_label }}
          <a href="{{ section.settings.terms_link }}" target="_blank">{{ section.settings.terms_link_text }}</a>
        </label>
      </div>


      <form action="/cart" method="post">
        <button type="submit" class="btn btn-checkout">{{ section.settings.checkout_label }}</button>
      </form>

      <p class="tax-note">{{ section.settings.tax_note }}</p>
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Cart Drawer",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Cart title",
        "default": "Cart"
      },
      {
        "type": "text",
        "id": "badge_text",
        "label": "Badge text for new products",
        "default": "New"
      },
      {
        "type": "text",
        "id": "max_error_text",
        "label": "Max quantity error message",
        "default": "Can't add more; it's already at the max!"
      },
      {
        "type": "text",
        "id": "subtotal_label",
        "label": "Subtotal label",
        "default": "Subtotal:"
      }, {
        "type": "text",
        "id": "terms_label",
        "label": "Terms checkbox label",
        "default": "Please check this box to agree to our"
      }, {
        "type": "url",
        "id": "terms_link",
        "label": "Terms link"
      }, {
        "type": "text",
        "id": "terms_link_text",
        "label": "Terms link text",
        "default": "terms and conditions"
      }, {
        "type": "text",
        "id": "checkout_label",
        "label": "Checkout button label",
        "default": "Checkout"
      }, {
        "type": "text",
        "id": "tax_note",
        "label": "Taxes note",
        "default": "Taxes and shipping calculated at checkout"
      }
    ],
    "presets": [
      {
        "name": "Cart Drawer",
        "category": "Cart"
      }
    ]
  }
{% endschema %}
