<div class="catalog-page__container" style="padding-top: 180px;">
  <nav class="breadcrumbs">
    <a href="{{ shop.url }}">Home</a>

    {% assign current_name = collection.title | default: product.title %}
    {% assign breadcrumb_links = "" %}
    {% assign breadcrumb_urls = "" %}

    {% for link in linklists.main-menu.links %}
      {% assign found = false %}

      {% if link.title == current_name %}
        {% assign breadcrumb_links = link.title %}
        {% assign breadcrumb_urls = "" %}
        {% assign found = true %}
      {% else %}
        {% for child in link.links %}
          {% if child.title == current_name %}
            {% assign breadcrumb_links = link.title | append: " / " | append: child.title %}
            {% assign breadcrumb_urls = link.url %}
            {% assign found = true %}
          {% else %}
            {% for grandchild in child.links %}
              {% if grandchild.title == current_name %}
                {% assign breadcrumb_links = link.title | append: " / " | append: child.title | append: " / " | append: grandchild.title %}
                {% assign breadcrumb_urls = link.url | append: "," | append: child.url %}
                {% assign found = true %}
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endfor %}
      {% endif %}

      {% if found %}
        {% assign crumbs = breadcrumb_links | split: " / " %}
        {% assign urls = breadcrumb_urls | split: "," %}
        {% assign last_index = crumbs.size | minus: 1 %}

        {% for crumb in crumbs %}
          {% assign index = forloop.index0 %}
          <span class="separator">
            &gt;
          </span>
          {% if index < last_index %}
            <a href="{{ urls[index] }}">{{ crumb }}</a>
          {% else %}
            <span class="current-page">
              {{ crumb }}
            </span>
          {% endif %}
        {% endfor %}
        {% break %}
      {% endif %}
    {% endfor %}
  </nav>
  <h1 class="catalog-page__title page__title">{{ collection.title }}</h1>
  {% if section.settings.show_description %}
    <p class="collection-description">{{ collection.description }}</p>
  {% endif %}
  <div class="catalog-page__header">
    <form
      class="search-form"
      action="{{ collection.url }}"
      method="get">
      <input
        type="text"
        name="q"
        placeholder="Search in {{ collection.title }}">
      <input
        type="hidden"
        name="type"
        value="product">
      <button type="submit">
        <svg
          width="20"
          height="20"
          viewBox="0 0 20 20"
          fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <circle
            cx="9"
            cy="9"
            r="8"
            stroke="black"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round" />
          <path
            d="M15.0183 15.4851L18.5423 19"
            stroke="black"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round" />
        </svg>
      </button>
    </form>
    <form method="get" action="">
      <label for="sort_by">Сортувати:</label>
      <select
        name="sort_by"
        id="sort_by"
        onchange="this.form.submit()">
        {% assign current_sort = collection.sort_by | default: collection.default_sort_by %}

        {% for option in collection.sort_options %}
          <option
            value="{{ option.value }}"
            {% if option.value == current_sort %}
            selected{% endif %}>
            {{ option.name }}
          </option>
        {% endfor %}
      </select>
      {% for filter in collection.filters %}
        {% for value in filter.active_values %}
          <input
            type="hidden"
            name="{{ filter.param_name }}"
            value="{{ value.value }}" />
        {% endfor %}
      {% endfor %}
    </form>

  </div>
  <div class="catalog-page__content">
    <aside class="filters-block">
      <form method="get" id="filters-form">
        {% for filter in collection.filters %}
          <h4>{{ filter.label }}</h4>

          {% if filter.label == 'Price' %}
            <label>
              Min Price:
              <input
                type="number"
                name="filter[price][min]"
                value="{{ filter.active_min | default: filter.min_value }}"
                placeholder="{{ filter.min_value }}">
            </label>
            <label>
              Max Price:
              <input
                type="number"
                name="filter[price][max]"
                value="{{ filter.active_max | default: filter.max_value }}"
                placeholder="{{ filter.max_value }}">
            </label>
          {% else %}
            {% for value in filter.values %}
              <label>
                <input
                  type="checkbox"
                  name="{{ filter.param_name }}"
                  value="{{ value.value }}"
                  {% if value.active %}
                  checked{% endif %}>
                {{ value.label }}
              </label>
            {% endfor %}
          {% endif %}

        {% endfor %}

        <!-- Кнопка сабміту форми -->
        <button type="submit" class="submit-filters btn">
          Filter
        </button>
      </form>
    </aside>
    <section class="products__block">
      {% paginate collection.products by 8 %}
        <div class="products-list">
          {% for product_item in collection.products %}
            <div class="product-list__item">
              <a href="{{ product_item.url }}" class="image__block">
                {%- if product_item.tags contains 'New' -%}
                  <span class="product__label">New</span>
                {%- endif -%}
                <img
                  src="{{ product_item.featured_image | img_url: '300x' }}"
                  alt="{{ product_item.title | escape }}"
                  loading="lazy"
                  width="300"
                  height="{{ 300 | divided_by: product_item.featured_image.aspect_ratio | round }}">
                <span class="view-more">View More</span>
              </a>
              <a href="{{ product_item.url }}" class="product__name">{{ product_item.title }}</a>
              <p class="product__price">
                {{ product_item.price | money }}
                {%- if product_item.compare_at_price > product_item.price -%}
                  <span class="old-price">{{ product_item.compare_at_price | money }}</span>
                {%- endif -%}
              </p>
            </div>
          {% endfor %}
        </div>
        {% if paginate.pages > 1 %}
          <div class="pagination">
            {% if paginate.previous %}
              <a href="{{ paginate.previous.url }}">Previous</a>
            {% endif %}

            {% for part in paginate.parts %}
              {% if part.is_link %}
                <a href="{{ part.url }}">{{ part.title }}</a>
              {% else %}
                <span>{{ part.title }}</span>
              {% endif %}
            {% endfor %}

            {% if paginate.next %}
              <a href="{{ paginate.next.url }}">Next</a>
            {% endif %}
          </div>
        {% endif %}
      {% endpaginate %}
    </section>
  </div>
  <div class="catalog-page__bottom">
    <h2 class="bottom__title">
      Choosing jewelry for a graceful woman's hand, you can easily get confused, because rings impress with a variety of shapes.
    </h2>
    <div class="newsletter__block">
      <img src="{{ section.settings.newsletter_image | img_url: '600x' }}" alt="Newsletter">
      <div class="newsletter__info">
        <h3 class="newsletter__title title">
          {{ section.settings.newsletter_title }}
        </h3>
        <p class="newsletter__desc">
          {{ section.settings.newsletter_desc }}
        </p>
        <form class="newsletter__form">
          <input
            type="email"
            name="email"
            id="email"
            placeholder="Your Email">
          <button type="submit" class="newsletter__submit btn">{{ section.settings.newsletter_button_text }}</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Collection Block",
    "settings": [
      {
        "type": "header",
        "content": "Newsletter Block"
      },
      {
        "type": "image_picker",
        "id": "newsletter_image",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "newsletter_title",
        "label": "Newsletter Title",
        "default": "Newsletter"
      },
      {
        "type": "textarea",
        "id": "newsletter_desc",
        "label": "Newsletter Description",
        "default": "Sign up for exclusive deals and early access to new products."
      }, {
        "type": "text",
        "id": "newsletter_button_text",
        "label": "Button Text",
        "default": "Subscribe"
      }
    ],
    "presets": [
      {
        "name": "Collection Block",
        "category": "Custom"
      }
    ]
  }
{% endschema %}