<div class="catalog-page__container" style="padding-top: 180px;">
  <nav class="breadcrumbs">
    <a href="{{ shop.url }}">Home</a>

    {% assign current_name = collection.title | default: product.title %}
    {% assign breadcrumb_links = "" %}
    {% assign breadcrumb_urls = "" %}

    {% for link in linklists.main-menu.links %}
      {% assign found = false %}

      {% if link.title == current_name %}
        {% assign breadcrumb_links = link.title %}
        {% assign breadcrumb_urls = "" %}
        {% assign found = true %}
      {% else %}
        {% for child in link.links %}
          {% if child.title == current_name %}
            {% assign breadcrumb_links = link.title | append: " / " | append: child.title %}
            {% assign breadcrumb_urls = link.url %}
            {% assign found = true %}
          {% else %}
            {% for grandchild in child.links %}
              {% if grandchild.title == current_name %}
                {% assign breadcrumb_links = link.title | append: " / " | append: child.title | append: " / " | append: grandchild.title %}
                {% assign breadcrumb_urls = link.url | append: "," | append: child.url %}
                {% assign found = true %}
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endfor %}
      {% endif %}

      {% if found %}
        {% assign crumbs = breadcrumb_links | split: " / " %}
        {% assign urls = breadcrumb_urls | split: "," %}
        {% assign last_index = crumbs.size | minus: 1 %}

        {% for crumb in crumbs %}
          {% assign index = forloop.index0 %}
          <span class="separator">
            &gt;
          </span>
          {% if index < last_index %}
            <a href="{{ urls[index] }}">{{ crumb }}</a>
          {% else %}
            <span class="current-page">
              {{ crumb }}
            </span>
          {% endif %}
        {% endfor %}
        {% break %}
      {% endif %}
    {% endfor %}
  </nav>
  <h1 class="catalog-page__title page__title">{{ collection.title }}</h1>
  {% if section.settings.show_description %}
    <p class="collection-description">{{ collection.description }}</p>
  {% endif %}
  <div class="products-list">
    {% paginate collection.products by 12 %}
      {% for product in paginate.items %}
        <div class="product-list__item">
          <a href="{{ product.url }}" class="image__block">
            {%- if product.tags contains 'New' -%}
              <span class="product__label">New</span>
            {%- endif -%}
            <img
              src="{{ product.featured_image | img_url: '300x' }}"
              alt="{{ product.title | escape }}"
              loading="lazy"
              width="300"
              height="{{ 300 | divided_by: product.featured_image.aspect_ratio | round }}">
            <span class="view-more">View More</span>
          </a>
          <a href="{{ product.url }}" class="product__name">{{ product.title }}</a>
          <p class="product__price">
            {{ product.price | money }}
            {%- if product.compare_at_price > product.price -%}
              <span class="old-price">{{ product.compare_at_price | money }}</span>
            {%- endif -%}
          </p>
        </div>
      {% endfor %}

      {% if paginate.pages > 1 %}
        <div class="pagination">
          {% if paginate.previous %}
            <a href="{{ paginate.previous.url }}" class="prev">&lt; Previous</a>
          {% endif %}

          {% for part in paginate.parts %}
            {% if part.is_link %}
              <a href="{{ part.url }}">{{ part.title }}</a>
            {% else %}
              <span class="current">{{ part.title }}</span>
            {% endif %}
          {% endfor %}

          {% if paginate.next %}
            <a href="{{ paginate.next.url }}" class="next">Next &gt;</a>
          {% endif %}
        </div>
      {% endif %}

    {% endpaginate %}
  </div>

</div>


{% schema %}
  {
    "name": "Collection template",
    "tag": "section",
    "class": "section-collection",
    "settings": [
      {
        "type": "text",
        "id": "custom_heading",
        "label": "Custom heading",
        "default": "Our collection"
      },
      {
        "type": "checkbox",
        "id": "show_description",
        "label": "Show collection description",
        "default": true
      },
      {
        "type": "range",
        "id": "products_per_row_desktop",
        "min": 2,
        "max": 6,
        "step": 1,
        "label": "Products per row (Desktop)",
        "default": 4
      },
      {
        "type": "range",
        "id": "products_per_row_tablet",
        "min": 1,
        "max": 4,
        "step": 1,
        "label": "Products per row (Tablet)",
        "default": 2
      }, {
        "type": "range",
        "id": "products_per_row_mobile",
        "min": 1,
        "max": 3,
        "step": 1,
        "label": "Products per row (Mobile)",
        "default": 1
      }
    ],
    "presets": [
      {
        "name": "Custom Collection",
        "category": "Collection"
      }
    ]
  }
{% endschema %}