<section class="categories">
  <div class="categories__container">
    <h2 class="categories__title">
      {{ section.settings.title }}
    </h2>
    <div class="categories__list">
      <a href="/collections/earrings" class="category__item earrings">
        <img src="{{ section.settings.image_earrings | img_url: '300x' }}" alt="Earrings">
        <span>Earrings</span>
      </a>
      <a href="/collections/bracelets" class="category__item bracelets">
        <img src="{{ section.settings.image_bracelets | img_url: '300x' }}" alt="Bracelets">
        <span>Bracelets</span>
      </a>
      <a href="/collections/rings" class="category__item rings">
        <img src="{{ section.settings.image_rings | img_url: '300x' }}" alt="Rings">
        <span>Rings</span>
      </a>
      <a href="/collections/unusual" class="category__item unusual">
        <img src="{{ section.settings.image_unusual | img_url: '300x' }}" alt="Unusual">
        <span>Unusual</span>
      </a>
      <a href="/collections/necklaces" class="category__item necklaces">
        <img src="{{ section.settings.image_necklaces | img_url: '300x' }}" alt="Necklaces">
        <span>Necklaces</span>
      </a>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Categories Section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Section title",
      "default": "Minimalism and simplicity combined with interesting shapes. Choose a piece of jewelry that you like."
    },
    {
      "type": "image_picker",
      "id": "image_earrings",
      "label": "Earrings image"
    },
    {
      "type": "image_picker",
      "id": "image_bracelets",
      "label": "Bracelets image"
    },
    {
      "type": "image_picker",
      "id": "image_rings",
      "label": "Rings image"
    },
    {
      "type": "image_picker",
      "id": "image_unusual",
      "label": "Unusual image"
    },
    {
      "type": "image_picker",
      "id": "image_necklaces",
      "label": "Necklaces image"
    }
  ],
  "presets": [
    {
      "name": "Categories section",
      "category": "Custom"
    }
  ]
}
{% endschema %}
